.next/*
node_modules/*
*.pyc
python_backend/venv/
sample_project/meta_prompts/
.codetoprompt/*
.DS_Store
.gitignore
my-offline-llm-tool@1.0.0
next

# .env
python_backend/.env
out/_next/
out/
dist/
test-results
playwright-report/